@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,300&display=swap');

$col-background: #f0f0f0;
$col-text: #000000;

.App {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
 
}


.App-header {
  background-color: $col-background;
  border-radius: 1rem;
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $col-text;
  box-shadow: rgb(224, 224, 224) 0 0 0.4rem;
  border: 20px double white;
}

#learn-more:link {
  text-decoration: none;
  font-weight: bold;
  color: brown;
}

.today {
  background-color: $col-background;
  color: $col-text;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 20px double white;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(224, 224, 224) 0 0 0.4rem;
  li {
    text-align: left;
  }
  .event {
    list-style-type: "\23F3";
  }
  .birth {
    list-style-type: "\1F382";
  }
  .death {
    list-style-type: "\1F480";
  }
}